{% extends "facebook/layout.html" %}

{% block body %}
<section id="profile">
    <div class="top">
        <div class="cover">
            <img class="cover-img" src="{{ profile.cover }}" alt="">
            {% if profile.id == user.id %}
            <div data-page="change_cover" class="change_cover button">
                <i class="fas fa-camera"></i> 
                <span>Edit Cover Photo</span>
            </div>
            {% endif %}
            <div class="avatar">
                <img src="{{ profile.avatar }}" alt="">
                {% if profile.id == user.id %}
                <div data-page="change_avatar" class="change_avatar">
                    <i class="fas fa-camera"></i> 
                </div>
                {% endif %}
            </div>
        </div>
        <div class="name">
            <span>{{ profile.first_name }} {{ profile.last_name }}</span>
            {% if profile.id != user.id %}
                {% if friends %}
                <button class="friend_icon"  data-page="delete_friend" data-id="{{ profile.id }}">
                    <i class="fas fa-user-check"></i>
                </button>
                {% else %}
                    {% if profile.requesting.all %}
                        {% if user in profile.requesting.all %}
                            <button class="friend_icon" data-page="unsend_request" data-id="{{ profile.id }}">
                                <i class="fas fa-user-astronaut"></i>
                            </button>
                        {% else %}
                            <button class="friend_icon" data-page="send_request" data-id="{{ profile.id }}">
                                <i class="fas fa-user-plus"></i>
                            </button>
                        {% endif %}
                    {% else %}
                        <button class="friend_icon" data-page="send_request" data-id="{{ profile.id }}">
                            <i class="fas fa-user-plus"></i>
                        </button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        {% if profile.id == user.id %}
        <div class="add_bio">
            <a href="/edit_profile">Add Bio</a>
        </div>
        {% endif %}
        <hr>
        <div class="middle-nav">
            <div class="right-side">
                <ul>
                    <li>
                        <a href="#">
                            Timeline
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Friends ({{ profile.friends.count }})
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Photos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            More <i class="fas fa-caret-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
            {% if profile.id == user.id %}
            <div class="left-side">
                <ul>
                    <li>
                        <button data-page="change_info" class="change_info button">
                            <i class="fas fa-pen"></i> Edit Profile
                        </button>
                    </li>
                    <li>
                        <button class="button">
                            <i class="fas fa-eye"></i>
                        </button>
                    </li>
                    <li>
                        <button class="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </li>
                    <li>
                        <button class="button">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        <div class="info-container">
            <div class="intro box">
                <h3>Intro</h3>
                <ul>
                    <li>
                        <i class="fas fa-briefcase"></i> {{ profile.work }}
                    </li>
                    <li>
                        <i class="fas fa-graduation-cap"></i> {{ profile.school }}
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i> {{ profile.from_location }}
                    </li>
                    <li>
                        <i class="fas fa-clock"></i> {{ profile.date_joined }}
                    </li>
                    <li>
                        <i class="fas fa-birthday-cake"></i> 
                        {% if profile.id == 2 %}
                        <strong>Today!</strong>
                        {% else %}
                        {{ profile.Birthdate_Day }}/{{ profile.Birthdate_Month }}/{{ profile.Birthdate_Year }}
                        {% endif %}
                    </li>
                    {% if profile.Gender == Male %}
                    <li>
                        <i class="fas fa-mars"></i> {{ profile.Gender }}
                    </li>
                    {% elif profile.Gender == Female %}
                    <li>
                        <i class="fas fa-venus"></i> {{ profile.Gender }}
                    </li>
                    {% else %}
                        <li>
                            <i class="fas fa-venus-mars"></i> {{ profile.Gender }}
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="friends box">
                <div class="friends-top">
                    <div class="number">
                        <h3>Friends ({{ profile.friends.count }})</h3>
                    </div>
                    <a href="#">See All</a>
                </div>
                <div class="profiles">
                    {% for friend in profile.friends.all %}
                    <div class="friend-card">
                        <a href="/profile/{{ friend.id }}">
                            <img src="{{ friend.avatar }}" alt="">
                            <span>{{ friend.first_name }} {{ friend.last_name }}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
    
            </div>
        </div>
        <div class="posts_container">
            <div class="posts">
                <h2 class="box">User's Posts</h2>
                {% for post in page_obj %}
                <div class="post box">
                    <div class="top-info">
                        <div class="poster-info">
                            <div class="flex">
                                {% for profile in users %}
                                    {% if post.username_id == profile.id  %}
                                        <a href="/profile/{{ profile.id }}" class="post_avatar">
                                            <img src="{{ profile.avatar }}" alt="">
                                            {% if profile.is_online %}
                                            <div class="online">
                                                <i class="fas fa-circle"></i>
                                            </div>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                <div class="name_and_date">
                                    <a class="profile_link" href="/profile/{{ post.username_id }}"> {{ post.username.first_name }} {{ post.username.last_name }} </a>
                                    <p class="poster-timestamp">{% if post.timestamp.month == 1 %}
                                        January
                                        {% elif post.timestamp.month == 2 %}
                                        February
                                        {% elif post.timestamp.month == 3 %}
                                        March
                                        {% elif post.timestamp.month == 4 %}
                                        April
                                        {% elif post.timestamp.month == 5 %}
                                        May
                                        {% elif post.timestamp.month == 6 %}
                                        June
                                        {% elif post.timestamp.month == 7 %}
                                        July
                                        {% elif post.timestamp.month == 8 %}
                                        August
                                        {% elif post.timestamp.month == 9 %}
                                        September
                                        {% elif post.timestamp.month == 10 %}
                                        October
                                        {% elif post.timestamp.month == 11 %}
                                        November
                                        {% else %}
                                        December
                                        {% endif %}
                                            {{ post.timestamp.day }}
                                    </p>
                                </div>
                            </div>
                            {% if post.username_id == user.id %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                            <div class="dropdown-menu">
                                <button class="edit_post_button dropdown-item" data-page = "{{ post.id }}"><i class="fas fa-pen"></i> Edit</button>
                                <button class="delete_post_button dropdown-item" data-page = "{{ post.id }}"><i class="fas fa-trash"></i> Delete</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="middle-info">
                        <p class="post_body" style="display: block;">{{ post.body }}</p>
                        {% if post.img %}
                        <p class="post_img" style="display: block;"></p><img src="{{ post.img }}" width="90%" alt=""></p>
                        {% endif %}

                        <form style="display: none;">
                            <input type="text" style="display: none;" name="post_id" value="{{ post.id }}" disabled>
                            <textarea name="body"></textarea>
                            <button>Save</button>
                        </form>
                    </div>
                    <div class="bottom-info">
                        <div class="like-info">
                            <div class="numbers">
                                <div class="left-side">
                                    <span id="like_for_{{ post.id }}">{{ post.liked_user_count.all.count }} </span>
                                    <div class="like_avatars" id="like_avatars_{{ post.id }}">
                                        {% for liked in post.liked_user_count.all %}
                                            {% for profile in users %}
                                                {% if liked.id == profile.id  %}
                                                    <a href="/profile/{{ profile.id }}">
                                                        <img width="20px" height="20px" src="{{ profile.avatar }}" alt="">
                                                    </a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="right-side">
                                    <span class="comments_count">{{ post.comments.count }}</span><span> Comments</span>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                            <hr>
                            <div class="button-area">
                                <div class="like-area">
                                    {% if post.id in liked_posts %}
                                        <button class="unlike_button" data-page = "{{ post.id }}"><i class="fas fa-thumbs-up"></i> Like</button>
                                    {% else %}
                                        <button class="like_button" data-page = "{{ post.id }}"><i class="far fa-thumbs-up"></i> Like</button>
                                        {% endif %}
                                </div>
                                <div class="comment-area">
                                    <button class="comment_button" data-page = "{{ post.id }}"><i class="far fa-comment-alt"></i></i> Comment</button>
                                </div>
                                <div class="share-area">
                                    <button class="share_button" data-page = "{{ post.id }}"><i class="fas fa-share"></i> Share</button>
                                </div>
                            </div>
                            <hr>
                            <div class="comments-area">
                                {% for comment in post.comments.all %}
                                <div class="comment-card">
                                    <a href="/profile/{{ comment.username.id }}">
                                        <img src="{{ comment.username.avatar }}" alt="">
                                    </a>
                                    <div class="middle-card">
                                        <a href="/profile/{{ comment.username.id }}">
                                            <span>{{ comment.username.first_name }} {{ comment.username.last_name }}</span>
                                        </a>
                                        <p class="content">{{ comment.body }}</p>
                                        <span class="time"> {{ comment.timestamp }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="comment-form">
                                <div class="comment-form_avatar">
                                    <img src="{{ user.avatar }}" alt="">
                                    {% if user.is_online %}
                                    <div class="online">
                                        <i class="fas fa-circle"></i>
                                    </div>
                                    {% endif %}
                                </div>
                                <form class="comment_form">
                                    <input class="comment-id" type="hidden" value="{{ post.id }}">
                                    <input class="comment-text" type="text" placeholder="Write a comment..">
                                </form>
                            </div>
                            {% else %}
                            <span></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <nav aria-label="Page navigation example">
                    <ul class="paginator">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link " href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                        {% if page == page_obj.number %}
                        <li class="page-item"><a class="page-link active-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<div id="change_cover-tab">
    <div class="box">
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <div class="form">
            <h2>Change Cover</h2>
            <hr>
            <div class="current-img">
                <img class="cover-img" src="{{ user.cover }}" alt="">
            </div>
            <form action="/edit" method="POST" data-page="change_cover" class="change_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="data" value="change_cover">
                </div>
                <div class="form-group">
                    <span>Change image url below</span>
                    <input id="cover_new_url" class="form-control"  type="text" name="url" placeholder="URL ://">
                </div>
                <input class="btn btn-success" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
<div id="change_avatar-tab">
    <div class="box">
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <div class="form">
            <h2>Change Avatar</h2>
            <hr>
            <div class="current-img">
                <img class="avatar-img" src="{{ user.avatar }}" alt="">
            </div>
            <form action="/edit" method="POST" data-page="change_avatar" class="change_form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="data" value="change_avatar">
                </div>
                <div class="form-group">
                    <span>Change image url below</span>
                    <input id="avatar_new_url" class="form-control"  type="text" name="url" placeholder="URL ://">
                </div>
                <input class="btn btn-success" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
<div id="change_info-tab">
    <div class="box">
        <div class="close-btn"><i class="fas fa-times"></i></div>
        <div class="form">
            <h2>Change Info</h2>
            <hr>
            <form action="/edit" method="POST" data-page="change_info" class="change_form">
                {% csrf_token %}
                <div class="form-group bg-grey">
                    <input type="hidden" name="data" value="change_info">
                </div>
                <div class="form-group bg-grey">
                    <span>Work</span>
                    <input class="form-control" type="text" name="work" value="{{ user.work }}">
                </div>
                <div class="form-group bg-grey">
                    <span>School</span>
                    <input class="form-control" type="text" name="school" value="{{ user.school }}">
                </div>
                <div class="form-group bg-grey">
                    <span>City</span>
                    <input class="form-control" type="text" name="city" value="{{ user.from_location }}" vla>
                </div>
                <div class="form-group birthday">
                    <span>Birthday {{ user.Birthdate_Day }}/{{ profile.Birthdate_Month }}/{{ user.Birthdate_Year }}</span>
                    <div class="select-area">
                        <select name="day" >
                            {% for day in day_list %}
                            {% if forloop.counter == user.Birthdate_Day %}
                                <option value="{{ forloop.counter }}" selected>{{ day }}</option>
                            {% else %}
                                <option value="{{ forloop.counter }}">{{ day }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select name="month">
                            {% for month in month_list %}
                            {% if forloop.counter == user.Birthdate_Month %}
                                <option value="{{ forloop.counter }}" selected>{{ month }}</option>
                            {% else %}
                                <option value="{{ forloop.counter }}">{{ month }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <select name="year" >
                            {% for year in year_list %}
                            {% if year == user.Birthdate_Year %}
                                <option value="{{ year }}" selected>{{ year }}</option>
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group gender">
                    <span>Gender</span>
                    <div class="radio-area">
                        {% if user.Gender == "Female" %}
                            <div class="selection">
                                <input type="radio" id="female" name="gender" value="Female" checked="checked">
                                <label for="female">Female</label>
                            </div><br>
                            <div class="selection">
                                <input type="radio" id="male" name="gender" value="Male" >
                                <label for="male">Male</label>
                            </div><br>
                            <div class="selection">
                                <input type="radio" id="other" name="gender" value="Other" >
                                <label for="other">Other</label>
                            </div>
                        {% elif user.Gender == "Male" %}
                            <div class="selection">
                                <input type="radio" id="female" name="gender" value="Female">
                                <label for="female">Female</label>
                            </div><br>
                            <div class="selection">
                                <input type="radio" id="male" name="gender" value="Male" checked="checked">
                                <label for="male">Male</label>
                            </div><br>
                            <div class="selection">
                                <input type="radio" id="other" name="gender" value="Other" >
                                <label for="other">Other</label>
                            </div>
                        {% else %}
                            <div class="selection">
                                <input type="radio" id="female" name="gender" value="Female" >
                                <label for="female">Female</label>
                            </div><br>
                            <div class="selection">
                                <input type="radio" id="male" name="gender" value="Male" >
                                <label for="male">Male</label>
                            </div><br>
                            <div class="selection">
                                <input type="radio" id="other" name="gender" value="Other" checked="checked">
                                <label for="other">Other</label>
                            </div>
                        {% endif %}
                        <br>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}