$bg : #F0F2F5;
$bg-darker : #D8DADF;
$active : #1877F2;

body
{
    background: $bg;
    position: relative;
    padding-bottom: 23vh; /* height of your footer */
    nav
    {
        background: #FFFFFF;
        .menu-right
        {
            .nav-item
            {
                margin-right: 10px;
                img
                {
                    width: 35px;
                }
            }
        }
        .form
        {
            display: inline-block;
            form
            {
                display: flex;
                input[type="search"], label
                {
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background: $bg;
                    border: none;
                    margin: 0;
                    padding: 10px;
                    outline: none;
                }
                label
                {
                    margin: 0;
                    border-top-right-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 20px;
                    border-top-left-radius: 20px;
                    padding: 10px 12px;
        
                }
            }
        }
        .menu-center
        {
            li
            {
                padding: 5px 30px;
                border-radius: 10px;
                cursor: pointer;
                &:hover
                {
                    background:rgba($bg-darker, 0.5);
                }
                &:first-child
                {
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom: 5px solid $active;
                    path
                    {
                        fill: $active;
                    }
                }
            }
        }
        .btn
        {
            background: $bg;
            border-radius: 50%;
            padding: 5px 10px !important;
            &:hover
            {
                background: $bg-darker;
            }
        }

    }
    #index
    {
        display: flex;
        justify-content: space-between;
    }
    footer
    {
        background: #ffffff;
        height: 23vh;
        position: absolute;
        bottom: 0;
        width: 100%;
        #pageFooter
        {
            padding: 50px;
            hr
            {
                width: 44%;
            }
            ul
            {
                display: flex;
                justify-content: center;
                padding: 0;
                li
                {
                    list-style: none;
                    margin-right: 20px;
                    a
                    {
                        color: #8a8d91;
                        font-size: 0.8em;
                    }
                    &:last-child
                    {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    #login
    {
        height: 77vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        .main
        {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 70px;
            .leftside
            {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-right: 150px;
                margin-bottom: 80px;
                .img
                {
                    width: 250px;
                    margin-bottom: 20px;
                    img
                    {
                        width: 100%;
                    }
                }
                .text
                {
                    p
                    {
                        font-size: 28px;
                        line-height: 1em;
                    }
                }
            }
            .rightside
            {
                text-align: center;
                .form
                {
                    background: #ffffff;
                    border-radius: 10px;
                    padding: 20px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
                    width: 400px;
                    .btn
                    {
                        font-weight: bold;
                    }
                    form
                    {
                        input[type="text"], input[type="password"]
                        {
                            padding: 20px 22px;
                            font-size: 17px;
                        }
                        input[type="Submit"]
                        {
                            display: block;
                            width: 100%;
                            font-size: 1.4em;
                        }
                    }
                    .forgot_password
                    {
                        margin-top: 15px;
                        display: block;
                        font-size: 0.9em;
                    }
                    .btn-success
                    {
                        padding: 10px 20px;
                        background: #42B72A;
                        font-size: 1.1em;
                        &:hover
                        {
                            background: #36A420;
                        }
                    }
                }
                .Createpage
                {
                    margin-top: 28px;
                    display: block;
                    a
                    {
                        color: #000000;
                    }
                }
            }
        }
    }
    #registration-tab
    {
        z-index: 100;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(#ffffff, 0.7);
        display: none;
        justify-content: center;
        align-items: center;
        .box
        {
            position: relative;
            width: 420px;
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
                    
            .close-btn
            {
                position: absolute;
                top: 5px;
                right: 5px;
                cursor: pointer;
                font-size: 1.5em;
                color: #606771;
            }
            .form
            {
                margin-top: 5px;
                h2
                {
                    margin: 0;
                }
                form
                {
                    font-size: 0.8em;
                    .bg-grey
                    {
                        input
                        {
                            background: #F5F6F7;
                        }
                    }
                    .twoinone
                    {
                        display: flex;
                        input:first-child
                        {
                            margin-right: 10px;
                        }
                    }
                    .birthday, .gender
                    {
                        span
                        {
                            display: block;
                        }
                        .select-area, .radio-area
                        {
                            display: flex;
                            .selection
                            {
                                display: flex;
                                flex-direction: row-reverse;
                                align-items: center;
                                justify-content: space-between;
                                font-size: 1.2em;
                                margin-right: 10px;
                                border: 1px solid #CED4DA;
                                border-radius: 5px;
                                cursor: pointer;
                                width: -webkit-fill-available;
                                padding: 5px;
                                label
                                {
                                    margin: 0 5px;
                                }
                                &:nth-child(5)
                                {
                                    margin-right: 0px;
                                }
                            }
                            select
                            {
                                font-size: 1.2em;
                                margin-right: 10px;
                                border: 1px solid #CED4DA;
                                border-radius: 5px;
                                cursor: pointer;
                                padding: 5px 10px;
                                width: -webkit-fill-available;
                                &:last-child
                                {
                                    margin-right: 0px;
                                }
                            }
                        }
                    }
                    .policies
                    {
                        font-size: 0.85em;
                    }
                    .btn-success
                    {
                        display: block;
                        font-weight: bold;
                        margin: auto;
                        font-size: 1.5em;
                        padding: 3px 60px;
                    }
                }
            }
        }
    }
}