body {
  background: #F0F2F5;
  position: relative;
  padding-bottom: 23vh;
  /* height of your footer */
}

body nav {
  background: #FFFFFF;
}

body nav a:hover {
  text-decoration: none;
}

body nav .menu-right .nav-item {
  margin-right: 10px;
}

body nav .menu-right .nav-item img {
  width: 35px;
  height: 35px;
}

body nav .navbar-brand img {
  width: 45px;
}

body nav .form {
  display: inline-block;
}

body nav .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body nav .form form input[type="search"], body nav .form form label {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #F0F2F5;
  border: none;
  margin: 0;
  padding: 10px;
  outline: none;
}

body nav .form form label {
  margin: 0;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 12px;
}

body nav .menu-center li {
  padding: 5px 30px;
  border-radius: 10px;
  cursor: pointer;
}

body nav .menu-center li:hover {
  background: rgba(216, 218, 223, 0.5);
}

body nav .menu-center li:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 5px solid #1877F2;
}

body nav .menu-center li:first-child path {
  fill: #1877F2;
}

body nav .menu-right #profile_avatar {
  border-radius: 50%;
}

body nav .menu-right .notifications {
  position: relative;
}

body nav .menu-right .notifications .red {
  position: absolute;
  border-radius: 50%;
  font-size: 0.7em;
  background: #F02849;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 18px;
  padding: 1px 2px;
  text-align: center;
  top: -5px;
  right: -3px;
}

body nav .menu-right .notifications .notification-dropdown {
  padding: 10px;
  width: 300px;
}

body nav .menu-right .notifications .notification-dropdown .request-card {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
}

body nav .menu-right .notifications .notification-dropdown .request-card .request_avatar {
  color: #000000;
}

body nav .menu-right .notifications .notification-dropdown .request-card .request_avatar img {
  border-radius: 50%;
}

body nav .btn {
  background: #F0F2F5;
  border-radius: 50%;
  padding: 5px 10px !important;
}

body nav .btn:hover {
  background: #D8DADF;
}

body #index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #index .box {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

body #index .shortcuts {
  padding: 20px 10px;
  width: 350px;
}

body #index .shortcuts ul {
  margin: 0;
  padding: 0;
}

body #index .shortcuts ul li {
  list-style: none;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

body #index .shortcuts ul li:hover {
  background: #E4E6E9;
}

body #index .shortcuts ul li img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

body #index .shortcuts ul li a {
  color: #000;
  font-weight: bold;
}

body #index .birthday_contacts .birthday-section, body #index .birthday_contacts .contacts-section {
  border-top: 1px #CED0D4 solid;
  padding: 15px 0;
  margin-top: 20px;
}

body #index .birthday_contacts .birthday-section .birthday-card a, body #index .birthday_contacts .contacts-section .birthday-card a {
  color: #000000;
}

body #index .birthday_contacts h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

body #index .birthday_contacts .contact-card {
  margin: 10px 0;
}

body #index .birthday_contacts .contact-card .contact_avatar {
  position: relative;
}

body #index .birthday_contacts .contact-card .contact_avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

body #index .birthday_contacts .contact-card .contact_avatar .online {
  position: absolute;
  bottom: -13px;
  right: 0px;
}

body #index .birthday_contacts .contact-card .contact_avatar .online i {
  font-size: 0.8em;
  border-radius: 50%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  color: #31A14B;
  padding: 0;
  margin: 0;
}

body #index .posts_container {
  margin-top: 20px;
  width: 500px;
  margin-left: 20px;
}

body #index .posts_container .posts h2 {
  text-align: center;
  padding: 5px 0;
}

body #index .posts_container .posts #post_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

body #index .posts_container .posts #post_form img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

body #index .posts_container .posts #post_form .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill;
}

body #index .posts_container .posts #post_form .form-inputs input, body #index .posts_container .posts #post_form .form-inputs textarea {
  background: #E4E6E9;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  outline: none;
  margin-bottom: 10px;
}

body #index .posts_container .posts .post {
  margin-top: 20px;
}

body #index .posts_container .posts .post .top-info {
  padding: 10px;
}

body #index .posts_container .posts .post .top-info .poster-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #index .posts_container .posts .post .top-info .poster-info .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .post_avatar {
  position: relative;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .post_avatar img {
  width: 50px;
  border-radius: 50%;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .post_avatar .online {
  position: absolute;
  bottom: 5px;
  right: 0px;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .post_avatar .online i {
  font-size: 0.8em;
  border-radius: 50%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  color: #31A14B;
  padding: 0;
  margin: 0;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .name_and_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .name_and_date a {
  color: #000;
}

body #index .posts_container .posts .post .top-info .poster-info .flex .name_and_date .poster-timestamp {
  font-size: 0.8em;
  color: #65676B;
}

body #index .posts_container .posts .post .top-info .poster-info .dropdown-toggle {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body #index .posts_container .posts .post .top-info .poster-info a.dropdown-toggle::after {
  display: none;
}

body #index .posts_container .posts .post .middle-info {
  padding: 10px;
  margin-left: 55px;
}

body #index .posts_container .posts .post .bottom-info {
  padding-bottom: 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info {
  padding: 0 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #index .posts_container .posts .post .bottom-info .like-info .numbers .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #index .posts_container .posts .post .bottom-info .like-info .numbers .left-side span {
  margin-right: 5px;
}

body #index .posts_container .posts .post .bottom-info .like-info .numbers .left-side .like_avatars {
  width: 100px;
  overflow: hidden;
}

body #index .posts_container .posts .post .bottom-info .like-info .numbers .left-side .like_avatars a img {
  border-radius: 50%;
}

body #index .posts_container .posts .post .bottom-info .like-info hr {
  margin: 5px;
  padding: 0 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #index .posts_container .posts .post .bottom-info .like-info .button-area .like-area, body #index .posts_container .posts .post .bottom-info .like-info .button-area .comment-area, body #index .posts_container .posts .post .bottom-info .like-info .button-area .share-area {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  border-radius: 5px;
  text-align: center;
}

body #index .posts_container .posts .post .bottom-info .like-info .button-area .like-area button, body #index .posts_container .posts .post .bottom-info .like-info .button-area .comment-area button, body #index .posts_container .posts .post .bottom-info .like-info .button-area .share-area button {
  color: #65676B;
  border: none;
  background: none;
  padding: 8px 5px;
}

body #index .posts_container .posts .post .bottom-info .like-info .button-area .like-area .unlike_button, body #index .posts_container .posts .post .bottom-info .like-info .button-area .comment-area .unlike_button, body #index .posts_container .posts .post .bottom-info .like-info .button-area .share-area .unlike_button {
  color: #1877F2;
}

body #index .posts_container .posts .post .bottom-info .like-info .button-area .like-area:hover, body #index .posts_container .posts .post .bottom-info .like-info .button-area .comment-area:hover, body #index .posts_container .posts .post .bottom-info .like-info .button-area .share-area:hover {
  background: #F2F2F2;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area {
  padding: 0 10px;
  max-height: 200px;
  overflow-y: scroll;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card .middle-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card .middle-card a {
  text-decoration: none;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card .middle-card .content {
  margin: 0;
}

body #index .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card .middle-card .time {
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.3);
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar {
  position: relative;
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar .online {
  position: absolute;
  bottom: -5px;
  right: -3px;
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar .online i {
  font-size: 0.8em;
  border-radius: 50%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  color: #31A14B;
  padding: 0;
  margin: 0;
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form form {
  width: 100%;
  margin-left: 10px;
}

body #index .posts_container .posts .post .bottom-info .like-info .comment-form form input {
  padding: 5px 10px;
  width: 100%;
  background: #F0F2F5;
  border-radius: 20px;
  border: none;
  font-size: 0.9em;
  outline: none;
}

body #index .posts_container .posts nav {
  background: none;
}

body #index .posts_container .posts nav .paginator {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #index .posts_container .posts nav .paginator li {
  background: none;
}

body #index .posts_container .posts nav .paginator li a {
  background: none;
  border: 1px solid #1877F2;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 1.2em;
}

body #index .posts_container .posts nav .paginator li a:hover {
  background: rgba(24, 119, 242, 0.1);
}

body #index .posts_container .posts nav .paginator li .active-link {
  background: #1877F2;
  color: #fff;
}

body #index .posts_container .posts nav .paginator .disabled {
  cursor: pointer;
}

body #index .posts_container .posts nav .paginator .disabled a {
  color: #cacaca;
}

body #index .posts_container .posts nav .paginator .disabled a:hover {
  background: rgba(24, 119, 242, 0.1);
}

body footer {
  background: #ffffff;
  height: 23vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

body footer #pageFooter {
  padding: 50px;
}

body footer #pageFooter hr {
  width: 44%;
}

body footer #pageFooter ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

body footer #pageFooter ul li {
  list-style: none;
  margin-right: 20px;
}

body footer #pageFooter ul li a {
  color: #8a8d91;
  font-size: 0.8em;
}

body footer #pageFooter ul li:last-child {
  margin-right: 0px;
}

body #login {
  height: 77vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

body #login .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 70px;
}

body #login .main .leftside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px;
  margin-bottom: 80px;
}

body #login .main .leftside .img {
  width: 250px;
  margin-bottom: 20px;
}

body #login .main .leftside .img img {
  width: 100%;
}

body #login .main .leftside .text p {
  font-size: 28px;
  line-height: 1em;
}

body #login .main .rightside {
  text-align: center;
}

body #login .main .rightside .form {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 400px;
}

body #login .main .rightside .form .btn {
  font-weight: bold;
}

body #login .main .rightside .form form input[type="text"], body #login .main .rightside .form form input[type="password"] {
  padding: 20px 22px;
  font-size: 17px;
}

body #login .main .rightside .form form input[type="Submit"] {
  display: block;
  width: 100%;
  font-size: 1.4em;
}

body #login .main .rightside .form .forgot_password {
  margin-top: 15px;
  display: block;
  font-size: 0.9em;
}

body #login .main .rightside .form .btn-success {
  padding: 10px 20px;
  background: #42B72A;
  font-size: 1.1em;
}

body #login .main .rightside .form .btn-success:hover {
  background: #36A420;
}

body #login .main .rightside .Createpage {
  margin-top: 28px;
  display: block;
}

body #login .main .rightside .Createpage a {
  color: #000000;
}

body #registration-tab, body #change_cover-tab, body #change_avatar-tab, body #change_info-tab {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #registration-tab .box, body #change_cover-tab .box, body #change_avatar-tab .box, body #change_info-tab .box {
  position: relative;
  width: 420px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

body #registration-tab .box .close-btn, body #change_cover-tab .box .close-btn, body #change_avatar-tab .box .close-btn, body #change_info-tab .box .close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 1.5em;
  color: #606771;
}

body #registration-tab .box .form, body #change_cover-tab .box .form, body #change_avatar-tab .box .form, body #change_info-tab .box .form {
  margin-top: 5px;
}

body #registration-tab .box .form h2, body #change_cover-tab .box .form h2, body #change_avatar-tab .box .form h2, body #change_info-tab .box .form h2 {
  margin: 0;
}

body #registration-tab .box .form .current-img, body #change_cover-tab .box .form .current-img, body #change_avatar-tab .box .form .current-img, body #change_info-tab .box .form .current-img {
  width: inherit;
}

body #registration-tab .box .form .current-img img, body #change_cover-tab .box .form .current-img img, body #change_avatar-tab .box .form .current-img img, body #change_info-tab .box .form .current-img img {
  width: 100%;
}

body #registration-tab .box .form form, body #change_cover-tab .box .form form, body #change_avatar-tab .box .form form, body #change_info-tab .box .form form {
  font-size: 0.8em;
}

body #registration-tab .box .form form .bg-grey input, body #change_cover-tab .box .form form .bg-grey input, body #change_avatar-tab .box .form form .bg-grey input, body #change_info-tab .box .form form .bg-grey input {
  background: #F5F6F7;
}

body #registration-tab .box .form form .twoinone, body #change_cover-tab .box .form form .twoinone, body #change_avatar-tab .box .form form .twoinone, body #change_info-tab .box .form form .twoinone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #registration-tab .box .form form .twoinone input:first-child, body #change_cover-tab .box .form form .twoinone input:first-child, body #change_avatar-tab .box .form form .twoinone input:first-child, body #change_info-tab .box .form form .twoinone input:first-child {
  margin-right: 10px;
}

body #registration-tab .box .form form .birthday span, body #registration-tab .box .form form .gender span, body #change_cover-tab .box .form form .birthday span, body #change_cover-tab .box .form form .gender span, body #change_avatar-tab .box .form form .birthday span, body #change_avatar-tab .box .form form .gender span, body #change_info-tab .box .form form .birthday span, body #change_info-tab .box .form form .gender span {
  display: block;
}

body #registration-tab .box .form form .birthday .select-area, body #registration-tab .box .form form .birthday .radio-area, body #registration-tab .box .form form .gender .select-area, body #registration-tab .box .form form .gender .radio-area, body #change_cover-tab .box .form form .birthday .select-area, body #change_cover-tab .box .form form .birthday .radio-area, body #change_cover-tab .box .form form .gender .select-area, body #change_cover-tab .box .form form .gender .radio-area, body #change_avatar-tab .box .form form .birthday .select-area, body #change_avatar-tab .box .form form .birthday .radio-area, body #change_avatar-tab .box .form form .gender .select-area, body #change_avatar-tab .box .form form .gender .radio-area, body #change_info-tab .box .form form .birthday .select-area, body #change_info-tab .box .form form .birthday .radio-area, body #change_info-tab .box .form form .gender .select-area, body #change_info-tab .box .form form .gender .radio-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #registration-tab .box .form form .birthday .select-area .selection, body #registration-tab .box .form form .birthday .radio-area .selection, body #registration-tab .box .form form .gender .select-area .selection, body #registration-tab .box .form form .gender .radio-area .selection, body #change_cover-tab .box .form form .birthday .select-area .selection, body #change_cover-tab .box .form form .birthday .radio-area .selection, body #change_cover-tab .box .form form .gender .select-area .selection, body #change_cover-tab .box .form form .gender .radio-area .selection, body #change_avatar-tab .box .form form .birthday .select-area .selection, body #change_avatar-tab .box .form form .birthday .radio-area .selection, body #change_avatar-tab .box .form form .gender .select-area .selection, body #change_avatar-tab .box .form form .gender .radio-area .selection, body #change_info-tab .box .form form .birthday .select-area .selection, body #change_info-tab .box .form form .birthday .radio-area .selection, body #change_info-tab .box .form form .gender .select-area .selection, body #change_info-tab .box .form form .gender .radio-area .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2em;
  margin-right: 10px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  cursor: pointer;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  padding: 5px;
}

body #registration-tab .box .form form .birthday .select-area .selection label, body #registration-tab .box .form form .birthday .radio-area .selection label, body #registration-tab .box .form form .gender .select-area .selection label, body #registration-tab .box .form form .gender .radio-area .selection label, body #change_cover-tab .box .form form .birthday .select-area .selection label, body #change_cover-tab .box .form form .birthday .radio-area .selection label, body #change_cover-tab .box .form form .gender .select-area .selection label, body #change_cover-tab .box .form form .gender .radio-area .selection label, body #change_avatar-tab .box .form form .birthday .select-area .selection label, body #change_avatar-tab .box .form form .birthday .radio-area .selection label, body #change_avatar-tab .box .form form .gender .select-area .selection label, body #change_avatar-tab .box .form form .gender .radio-area .selection label, body #change_info-tab .box .form form .birthday .select-area .selection label, body #change_info-tab .box .form form .birthday .radio-area .selection label, body #change_info-tab .box .form form .gender .select-area .selection label, body #change_info-tab .box .form form .gender .radio-area .selection label {
  margin: 0 5px;
}

body #registration-tab .box .form form .birthday .select-area .selection:nth-child(5), body #registration-tab .box .form form .birthday .radio-area .selection:nth-child(5), body #registration-tab .box .form form .gender .select-area .selection:nth-child(5), body #registration-tab .box .form form .gender .radio-area .selection:nth-child(5), body #change_cover-tab .box .form form .birthday .select-area .selection:nth-child(5), body #change_cover-tab .box .form form .birthday .radio-area .selection:nth-child(5), body #change_cover-tab .box .form form .gender .select-area .selection:nth-child(5), body #change_cover-tab .box .form form .gender .radio-area .selection:nth-child(5), body #change_avatar-tab .box .form form .birthday .select-area .selection:nth-child(5), body #change_avatar-tab .box .form form .birthday .radio-area .selection:nth-child(5), body #change_avatar-tab .box .form form .gender .select-area .selection:nth-child(5), body #change_avatar-tab .box .form form .gender .radio-area .selection:nth-child(5), body #change_info-tab .box .form form .birthday .select-area .selection:nth-child(5), body #change_info-tab .box .form form .birthday .radio-area .selection:nth-child(5), body #change_info-tab .box .form form .gender .select-area .selection:nth-child(5), body #change_info-tab .box .form form .gender .radio-area .selection:nth-child(5) {
  margin-right: 0px;
}

body #registration-tab .box .form form .birthday .select-area select, body #registration-tab .box .form form .birthday .radio-area select, body #registration-tab .box .form form .gender .select-area select, body #registration-tab .box .form form .gender .radio-area select, body #change_cover-tab .box .form form .birthday .select-area select, body #change_cover-tab .box .form form .birthday .radio-area select, body #change_cover-tab .box .form form .gender .select-area select, body #change_cover-tab .box .form form .gender .radio-area select, body #change_avatar-tab .box .form form .birthday .select-area select, body #change_avatar-tab .box .form form .birthday .radio-area select, body #change_avatar-tab .box .form form .gender .select-area select, body #change_avatar-tab .box .form form .gender .radio-area select, body #change_info-tab .box .form form .birthday .select-area select, body #change_info-tab .box .form form .birthday .radio-area select, body #change_info-tab .box .form form .gender .select-area select, body #change_info-tab .box .form form .gender .radio-area select {
  font-size: 1.2em;
  margin-right: 10px;
  border: 1px solid #CED4DA;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

body #registration-tab .box .form form .birthday .select-area select:last-child, body #registration-tab .box .form form .birthday .radio-area select:last-child, body #registration-tab .box .form form .gender .select-area select:last-child, body #registration-tab .box .form form .gender .radio-area select:last-child, body #change_cover-tab .box .form form .birthday .select-area select:last-child, body #change_cover-tab .box .form form .birthday .radio-area select:last-child, body #change_cover-tab .box .form form .gender .select-area select:last-child, body #change_cover-tab .box .form form .gender .radio-area select:last-child, body #change_avatar-tab .box .form form .birthday .select-area select:last-child, body #change_avatar-tab .box .form form .birthday .radio-area select:last-child, body #change_avatar-tab .box .form form .gender .select-area select:last-child, body #change_avatar-tab .box .form form .gender .radio-area select:last-child, body #change_info-tab .box .form form .birthday .select-area select:last-child, body #change_info-tab .box .form form .birthday .radio-area select:last-child, body #change_info-tab .box .form form .gender .select-area select:last-child, body #change_info-tab .box .form form .gender .radio-area select:last-child {
  margin-right: 0px;
}

body #registration-tab .box .form form .policies, body #change_cover-tab .box .form form .policies, body #change_avatar-tab .box .form form .policies, body #change_info-tab .box .form form .policies {
  font-size: 0.85em;
}

body #registration-tab .box .form form .btn-success, body #change_cover-tab .box .form form .btn-success, body #change_avatar-tab .box .form form .btn-success, body #change_info-tab .box .form form .btn-success {
  display: block;
  font-weight: bold;
  margin: auto;
  font-size: 1.5em;
  padding: 3px 60px;
}

body #profile {
  position: relative;
}

body #profile .button {
  background: #CED4DA;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

body #profile .top {
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, white), to(black));
  background: linear-gradient(0deg, white 55%, black 100%);
}

body #profile .top .cover {
  width: 950px;
  margin: auto;
  position: relative;
}

body #profile .top .cover .cover-img {
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

body #profile .top .cover img {
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

body #profile .top .cover .change_cover {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

body #profile .top .cover .change_cover:hover {
  background: #a5a9ae;
}

body #profile .top .cover .avatar {
  width: 180px;
  position: absolute;
  right: calc(50% - 90px);
  bottom: -30px;
  border: 5px solid white;
  border-radius: 50%;
  z-index: 100;
}

body #profile .top .cover .avatar img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

body #profile .top .cover .avatar .change_avatar {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 5px;
  background: #CED4DA;
  padding: 5px 10px;
  font-size: 1.3em;
  border-radius: 50% !important;
  font-weight: bold;
}

body #profile .top .cover .avatar .change_avatar:hover {
  background: #a5a9ae;
}

body #profile .top .name {
  margin: 30px auto 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body #profile .top .name span {
  font-size: 2em;
  font-weight: bold;
}

body #profile .top .add_bio {
  margin: auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body #profile .top hr {
  width: 50%;
}

body #profile .top .middle-nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

body #profile .top .middle-nav .right-side ul, body #profile .top .middle-nav .left-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #profile .top .middle-nav .right-side ul li, body #profile .top .middle-nav .left-side ul li {
  list-style: none;
  margin-right: 10px;
}

body #profile .top .middle-nav .right-side ul li:last-child, body #profile .top .middle-nav .left-side ul li:last-child {
  margin-right: 0px;
}

body #profile .top .middle-nav .right-side ul li a:hover, body #profile .top .middle-nav .left-side ul li a:hover {
  text-decoration: none;
}

body #profile .top .middle-nav .right-side ul li {
  padding: 10px;
  border-radius: 10px;
}

body #profile .top .middle-nav .right-side ul li:first-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 3px #1877F2 solid;
}

body #profile .top .middle-nav .right-side ul li:hover {
  background: #F2F2F2;
}

body #profile .top .middle-nav .right-side ul li a {
  color: #606266;
}

body #profile .top .middle-nav .left-side {
  font-size: 1em;
}

body #profile .top .middle-nav .left-side li a {
  color: #000;
}

body #profile .top .middle-nav .left-side li a:hover {
  text-decoration: none;
  background: #a5a9ae;
}

body #profile .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

body #profile .bottom .box {
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

body #profile .bottom .info-container {
  width: 400px;
}

body #profile .bottom .info-container .intro, body #profile .bottom .info-container .friends {
  padding: 20px;
  margin-bottom: 20px;
}

body #profile .bottom .info-container .intro h3, body #profile .bottom .info-container .friends h3 {
  font-size: 1.3em;
  margin-bottom: 20px;
}

body #profile .bottom .info-container .intro ul, body #profile .bottom .info-container .friends ul {
  padding: 0;
  margin: 0;
}

body #profile .bottom .info-container .intro ul li, body #profile .bottom .info-container .friends ul li {
  list-style: none;
  margin-bottom: 10px;
}

body #profile .bottom .info-container .intro ul li i, body #profile .bottom .info-container .friends ul li i {
  color: #8C939D;
  width: 40px;
  font-size: 1.3em;
  text-align: center;
}

body #profile .bottom .info-container .intro .friends-top, body #profile .bottom .info-container .friends .friends-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body #profile .bottom .info-container .intro .friends-top a, body #profile .bottom .info-container .friends .friends-top a {
  display: block;
}

body #profile .bottom .info-container .intro .profiles, body #profile .bottom .info-container .friends .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #profile .bottom .info-container .intro .profiles .friend-card, body #profile .bottom .info-container .friends .profiles .friend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 31%;
  margin-right: 10px;
}

body #profile .bottom .info-container .intro .profiles .friend-card:last-child, body #profile .bottom .info-container .friends .profiles .friend-card:last-child {
  margin-right: 0px;
}

body #profile .bottom .info-container .intro .profiles .friend-card img, body #profile .bottom .info-container .friends .profiles .friend-card img {
  width: 111px;
  height: 111px;
  border-radius: 10px;
}

body #profile .bottom .info-container .intro .profiles .friend-card span, body #profile .bottom .info-container .friends .profiles .friend-card span {
  font-size: 0.8em;
  font-weight: bold;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body #profile .bottom .posts_container {
  width: 500px;
  margin-left: 20px;
}

body #profile .bottom .posts_container .posts h2 {
  text-align: center;
  padding: 5px 0;
}

body #profile .bottom .posts_container .posts .post {
  margin-top: 20px;
}

body #profile .bottom .posts_container .posts .post .top-info {
  padding: 10px;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .post_avatar {
  position: relative;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .post_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .post_avatar .online {
  position: absolute;
  bottom: 5px;
  right: 0px;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .post_avatar .online i {
  font-size: 0.8em;
  border-radius: 50%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  color: #31A14B;
  padding: 0;
  margin: 0;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .name_and_date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5px;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .name_and_date a {
  color: #000;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .flex .name_and_date .poster-timestamp {
  font-size: 0.8em;
  color: #65676B;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info .dropdown-toggle {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body #profile .bottom .posts_container .posts .post .top-info .poster-info a.dropdown-toggle::after {
  display: none;
}

body #profile .bottom .posts_container .posts .post .middle-info {
  padding: 10px;
  margin-left: 55px;
}

body #profile .bottom .posts_container .posts .post .bottom-info {
  padding-bottom: 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info {
  padding: 0 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .numbers .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .numbers .left-side span {
  margin-right: 5px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .numbers .left-side .like_avatars {
  width: 100px;
  overflow: hidden;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .numbers .left-side .like_avatars a img {
  border-radius: 50%;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info hr {
  margin: 5px;
  padding: 0 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .like-area, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .comment-area, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .share-area {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  border-radius: 5px;
  text-align: center;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .like-area button, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .comment-area button, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .share-area button {
  color: #65676B;
  border: none;
  background: none;
  padding: 8px 5px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .like-area .unlike_button, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .comment-area .unlike_button, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .share-area .unlike_button {
  color: #1877F2;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .like-area:hover, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .comment-area:hover, body #profile .bottom .posts_container .posts .post .bottom-info .like-info .button-area .share-area:hover {
  background: #F2F2F2;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comments-area {
  padding: 0 10px;
  max-height: 200px;
  overflow-y: scroll;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comments-area .comment-card .middle-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar {
  position: relative;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar .online {
  position: absolute;
  bottom: -5px;
  right: -3px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form .comment-form_avatar .online i {
  font-size: 0.8em;
  border-radius: 50%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
  color: #31A14B;
  padding: 0;
  margin: 0;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form form {
  width: 100%;
  margin-left: 10px;
}

body #profile .bottom .posts_container .posts .post .bottom-info .like-info .comment-form form input {
  padding: 5px 10px;
  width: 100%;
  background: #F0F2F5;
  border-radius: 20px;
  border: none;
  font-size: 0.9em;
  outline: none;
}

body #profile .bottom .posts_container .posts nav {
  background: none;
}

body #profile .bottom .posts_container .posts nav .paginator {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #profile .bottom .posts_container .posts nav .paginator li {
  background: none;
}

body #profile .bottom .posts_container .posts nav .paginator li a {
  background: none;
  border: 1px solid #1877F2;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 1.2em;
}

body #profile .bottom .posts_container .posts nav .paginator li a:hover {
  background: rgba(24, 119, 242, 0.1);
}

body #profile .bottom .posts_container .posts nav .paginator li .active-link {
  background: #1877F2;
  color: #fff;
}

body #profile .bottom .posts_container .posts nav .paginator .disabled {
  cursor: pointer;
}

body #profile .bottom .posts_container .posts nav .paginator .disabled a {
  color: #cacaca;
}

body #profile .bottom .posts_container .posts nav .paginator .disabled a:hover {
  background: rgba(24, 119, 242, 0.1);
}
/*# sourceMappingURL=styles.css.map */